.heading{
    width: 100%;
    text-align: left;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image{
    width: 100%;
}

#start , #stats {
    font-size: 22px;
}

.instruction_image {
    display: inline-block;
     width: 45%;
}